<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>JEE Demo for TCADM</display-name>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>MyHello</servlet-name>
        <servlet-class>com.triveratech.jee.HelloServlet</servlet-class>
        <init-param>
            <param-name>defaultName</param-name>
            <param-value>World</param-value>
        </init-param>
    </servlet>
	

    <servlet-mapping>
        <servlet-name>MyHello</servlet-name>
        <url-pattern>/api/Hello</url-pattern>
    </servlet-mapping>

<resource-ref>
  <description>DB Connection</description>
  <res-ref-name>jdbc/weasleyds</res-ref-name>
  <res-type>javax.sql.DataSource</res-type>
  <res-auth>Container</res-auth>
</resource-ref>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>secure_rest</web-resource-name>
			<url-pattern>/rest/*</url-pattern>
			<url-pattern>/secure/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>user</role-name>
			<role-name>inventory_specialist</role-name>
			<role-name>inventory_manager</role-name>
			<role-name>customer_service_representative</role-name>
			<role-name>customer_service_manager</role-name>
		</auth-constraint>
	</security-constraint>
	<security-role>
		<!-- declare all roles used in the app; 
			should be a complete collection used in all auth-constraints, 
			either from XML or annotations -->
		<role-name>user</role-name>
		<role-name>inventory_specialist</role-name>
		<role-name>inventory_manager</role-name>
		<role-name>customer_service_representative</role-name>
		<role-name>customer_service_manager</role-name>
	</security-role>
	<login-config>
<!--
		<auth-method>BASIC</auth-method>
		<auth-method>DIGEST</auth-method>
		<auth-method>CLIENT-CERT</auth-method>
-->
		<auth-method>FORM</auth-method>
		<!-- If we use FORM as an auth-method, we'll need a form that POSTs to j_security_check
		-->
		<form-login-config>
			<form-login-page>/login.jsp</form-login-page>
			<form-error-page>/login_failure.jsp</form-error-page>
		</form-login-config>
<!-- Sample Form:
	<form method=post action="j_security_check">
		<p>
			<span>Username:</span> <br /> <input type="text" name="j_username">
		</p>
		<p>
			<span>Password:</span> <br /> <input type="password"
				name="j_password">
		</p>
		<p>
			<input type="submit" value="Login">
		</p>
	</form>
-->
	</login-config>


</web-app>
